@model EmailConfirmModel

@{
    ViewData["Title"] = "Confirm email";
    Layout = "_FrontendLayout";
}

<div class="container" style="min-height: 400px;">
    <div class="row">
        <div class="col-lg-12">
            <!-- breadcrumb-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/../Home">Home</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Confirm Email</li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-12">
            <div class="box">
                <div class="col-md-12 offset-12">
                    @if (Model.EmailVerified == true)
                    {
                        <div class="alert alert-success" role="alert">
                            <p>Your email has been verified successfully.</p>
                        </div>
                        <a asp-controller="Client_Accounts" asp-action="Signin" class="btn btn-outline-secondary">Sign in</a>
                    }
                    else
                    {
                        if (Model.EmailSent)
                        {
                            <p>Email sent on your registered email id.</p>
                        }

                        else
                        {
                            <p>We have sent an email on your email id. Click on the link to login.</p>
                        }

                        <form asp-action="ConfirmEmail">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Email" />

                            <p>Did not get any email of deleted by mistake?</p>
                            <div class="form-group">
                                <input type="submit" value="Resend confirmation email" class="btn btn-primary" />
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
