@model IEnumerable<HubbleSpace_Final.Entities.Size>

@{
    var size = Model.FirstOrDefault();
    if (size != null)
    {
        @foreach (var item in Model)
        {
            <div class="gl-label">
                <input name="size" type="radio" value="@item.SizeNumber" />
                <span>@Html.DisplayFor(modelItem => item.SizeNumber)</span>
            </div>
            
        }

    }
}

