@model HubbleSpace_Final.Entities.Employee
@{
    ViewData["Title"] = "Create Employee";
    Layout = "_AdminLayout";

}
<div class="row">
    <div class="card card-body">
        <div class="card-header title--sbold">
            Tạo mới nhân viên
        </div>
        <div class="card-body card-block">
            <form asp-action="Create" method="post" class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="Employee_Name" class="control-label "></label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="Employee_Name" class="form-control" />
                        <span asp-validation-for="Employee_Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="Phone" class="control-label "></label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="DOB" class="control-label "></label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="DOB" class="form-control" type="date"/>
                        <span asp-validation-for="DOB" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="Gender" class="control-label "></label>
                    </div>
                    <div class="col-12 col-md-9">
                        <select asp-for="Gender" class="form-control">
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="Salary" class="control-label "></label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="Salary" class="form-control" />
                        <span asp-validation-for="Salary" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="ID_Account" class="control-label "></label>
                    </div>
                    <div class="col-12 col-md-9">
                        <select asp-for="ID_Account" class="form-control" asp-items="ViewBag.ID_Account"></select>
                    </div>
                </div>

                <div class="form-group card-footer">
                    <input type="submit" value="Create" class="btn btn-primary col-2" />
                    <input type="reset" value="Reset" class="btn btn-danger col-2" />
                    <a asp-action="Index" class="btn btn-secondary col-2">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>