@model HubbleSpace_Final.Entities.Account

@{
    ViewData["Title"] = "Edit Account";
    Layout = "_AdminLayout";

}

<div class="row">
    <div class="card card-body">
        <div class="card-header title--sbold">
            Cập nhật thông tin người dùng
        </div>
        <div class="card-body card-block">
            <form asp-action="Edit" class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID_Account" />

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="UserName" class="control-label "></label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="Password" class="control-label"></label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="Avatar" class="control-label"></label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="Avatar" class="form-control-file" type="file"/>
                        <span asp-validation-for="Avatar" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="Email" class="control-label "></label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="Level" class="control-label "></label>
                    </div>
                    <div class="col-12 col-md-9">
                        <select asp-for="Level" class="form-control">
                            <option value="Admin">Admin</option>
                            <option value="Member">Member</option>
                        </select>
                        <span asp-validation-for="Level" class="text-danger"></span>
                    </div>
                </div>

                    <div class="form-group card-footer">
                        <input type="submit" value="Save" class="btn btn-primary col-2" />
                        <input type="reset" value="Reset" class="btn btn-danger col-2" />
                        <a asp-action="Index" class="btn btn-secondary col-2">Back</a>
                    </div>
            </form>
        </div>
    </div>
</div>