@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!--
    *** COPYRIGHT ***
    _________________________________________________________
    -->
<div class="row">
    <div class="col-md-12">
        <div class="copyright">
            <p class="text-center">©2021 HubbleSpace</p>
        </div>
    </div>
</div>

<!-- *** COPYRIGHT END ***-->