@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!--
    *** FOOTER ***
    _________________________________________________________
    -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-1">Pages</h4>
                <ul class="list-unstyled">
                    <li><a href="text.html">About us</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                </ul>
                <hr>
                <h4 class="mb-1">User section</h4>
                <ul class="list-unstyled">
                    <partial name="_LoginInfo" />
                </ul>
            </div>
            <!-- /.col-lg-3-->
            <div class="col-lg-6 col-md-6">
                <h4 class="mb-3">Top categories</h4>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <h5>Men</h5>
                        <ul class="list-unstyled">
                            <li><a asp-action="Categories" asp-route-Object="Men" asp-route-CategoriesName="Originals">Originals</a></li>
                            <li><a asp-action="Categories" asp-route-Object="Men" asp-route-CategoriesName="Running">Running</a></li>
                            <li><a asp-action="Categories" asp-route-Object="Men" asp-route-CategoriesName="Training">Training</a></li>
                            <li><a asp-action="Categories" asp-route-Object="Men" asp-route-CategoriesName="Football">Football</a></li>
                            <li><a asp-action="Categories" asp-route-Object="Men" asp-route-CategoriesName="Basketball">Basketball</a></li>
                            <li><a asp-action="Categories" asp-route-Object="Men" asp-route-CategoriesName="Tennis" >Tennis</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <h5>Women</h5>
                        <ul class="list-unstyled">
                            <li><a asp-action="Categories" asp-route-Object="Women" asp-route-CategoriesName="Originals">Originals</a></li>
                            <li><a asp-action="Categories" asp-route-Object="Women" asp-route-CategoriesName="Running">Running</a></li>
                            <li><a asp-action="Categories" asp-route-Object="Women" asp-route-CategoriesName="Training">Training</a></li>
                            <li><a asp-action="Categories" asp-route-Object="Women" asp-route-CategoriesName="Tennis">Tennis</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <h5>Kids</h5>
                        <ul class="list-unstyled">
                            <li><a asp-action="Categories" asp-route-Object="Kids" asp-route-CategoriesName="Originals">Originals</a></li>
                            <li><a asp-action="Categories" asp-route-Object="Kids" asp-route-CategoriesName="Running">Running</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-3-->
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-3">Get the news</h4>
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control"><span class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary">Subscribe!</button>
                        </span>
                    </div>
                    <!-- /input-group-->
                </form>
                <a href='https://www.symptoma.es/es/info/covid-19'>coronavirus España</a>
                <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=dcdd35284fd1809b141afe832cb64b441b19157c'></script>
                <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/782391/t/7"></script>
                <hr>
                <h4 class="mb-3">Stay in touch</h4>
                <p class="social"><a href="#" class="facebook external"><i class="fa fa-facebook"></i></a><a href="#" class="twitter external"><i class="fa fa-twitter"></i></a><a href="#" class="instagram external"><i class="fa fa-instagram"></i></a><a href="#" class="gplus external"><i class="fa fa-google-plus"></i></a><a href="#" class="email external"><i class="fa fa-envelope"></i></a></p>
            </div>
            <!-- /.col-lg-3-->
        </div>
        <!-- /.row-->
    </div>
    <!-- /.container-->
</div>
<!-- /#footer-->
<!-- *** FOOTER END ***-->
<!--
    *** COPYRIGHT ***
    _________________________________________________________
    -->
<div id="copyright">
    <div class="container">
        <div class="row-cols-1">
            <p class="text-center">
                Template design by
                <a href="https://bootstrapious.com/">Bootstrapious</a>
            </p>
        </div>
        <div class="row-cols-1">
            <p class="text-center">©2021 HubbleSpace</p>
        </div>
    </div>
</div>
<!-- *** COPYRIGHT END ***-->